Question 1

In [8]:
#(a)
Fruit_list = ["apple","orange","banana"]
print(Fruit_list)
#(b)
Fruit_list.append("tomato")
print(Fruit_list)
#(c)
Fruit_list.remove("apple")
print(Fruit_list)

['apple', 'orange', 'banana']
['apple', 'orange', 'banana', 'tomato']
['orange', 'banana', 'tomato']

Question 2

In [20]:
#(a)
Subjects = ("physics", "chemistry", "english", "math", "biology")
type(Subjects)
#(b)

#alternative way to execute
tuplelist = list(Subjects)
tuplelist.append("literature")
print(tuplelist)
#(c)
length_of_tuplelist = len(tuplelist)
print(length_of_tuplelist)

['physics', 'chemistry', 'english', 'math', 'biology', 'literature']
6

Question 3

In [25]:
#(a)
Students_Id = [10, 6, 7, 8, 9, 31]
print(Students_Id)
#(b)
Students_Id.reverse()
print(Students_Id)
sorted_students_id = Students_Id
#(c)
sorted_students_id.clear()
print(sorted_students_id)

[10, 6, 7, 8, 9, 31]
[31, 9, 8, 7, 6, 10]
[]

Question 4

In [26]:
desc_list = list(range(15, 0, -3))
print(desc_list)

[15, 12, 9, 6, 3]

Question 5

In [29]:
asc_list = list(range(2, 2*15, +2))
print(asc_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Question 6

In [31]:
#(a)
combined_list = desc_list + asc_list
print(combined_list)
#(b)
odd = []
even = []
for i in combined_list:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)    
print(odd)
print(even)

[15, 12, 9, 6, 3, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[15, 9, 3]
[12, 6, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Question 7

In [46]:
def circle_properties(radius):
    area = 22/7 * radius**2
    return area
result = circle_properties(4)
print("Area is :", result)

Area is : 50.285714285714285

Question 8

In [62]:
def star_sign(day, month):
    star_signs = [("Aries", (21, 3), (19, 4)),
                  ("Taurus", (20, 4), (20, 5)),
                  ("Gemini", (21, 5), (21, 6)),
                  ("Cancer", (22, 6), (22, 7)),
                  ("Leo", (23, 7), (22, 8)),
                  ("Virgo", (23, 8), (22, 9)),
                  ("Libra", (23, 9), (23, 10)),
                  ("Scorpion", (24, 10), (21, 11)),
                  ("Saggitarius", (22, 11), (21, 12)),
                  ("Capricorn", (22, 12), (19, 1)),
                  ("Aquarius", (20, 1), (18, 2)),
                  ("Pisces", (19, 2), (20, 3))]
    
    for sign, start_date, end_date in star_signs:
        if (month == start_date[1] and day >= start_date[0]) or \
           (month == end_date[1] and day >= end_date[0]) or \
           (start_date[1] < month < end_date[1]) or \
           (start_date[1] == month and day >= start_date[0]) or \
           (end_date[1] == month and day <= end_date[0]):
            return sign
    return "Invalid Date"    

if __name__ == "__main__":
    day = 17
    month = 2
    print(f"Star sign for {day}/{month} is {star_sign(day, month)}")

Star sign for 17/2 is Aquarius

Question 9

In [38]:
#(a)
student_grades = {"Alice": 85, "Bob": 90, "Charlie": 78}
print(student_grades)
#(b)
student_grades["David"] = 92
print(student_grades)
#(c)
student_grades["Alice"] = 88
print(student_grades)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}
{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92}
{'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

Question 10

In [49]:
fruits_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_count = {}

for fruit in fruits_list:
    if fruit in fruit_count:
        fruit_count[fruit] += 1
    else:
        fruit_count[fruit] = 1


print(fruit_count)

{'apple': 3, 'banana': 2, 'orange': 1}